# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/
dist/
tmp/
out-tsc/
bazel-out/

# Environment variables
.env
.env.local

# IDEs and Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db

# Personal Data (Excluded for privacy)
src/assets/data/resume.json
src/assets/data/portfolio.json
src/assets/blog/
!src/assets/blog/index.json

# Docker
docker-compose.override.yml
